@model eTrener.Models.BMIViewModel
@{
    ViewBag.Title = "BMI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Letter.css" rel="stylesheet" type="text/css"/>
<div class="paper">
    <p class="paper">
        <b>The Body Mass Index (BMI)</b> calculator is a simple diet calculator based on the mathematical formula
        developed by Belgian mathematician Lambert Adolphe Jacques Quetelet in 1830. <br/>
        The BMI indicator can only be used for an adult. Calculation of the correct body weight of a child under 14 years
        should use the centile tables. The BMI Calculator does not take into account the patient's muscle mass. By doing this,
        a healthy, bodybuilding, sports or hard physical worker, and a healthy diet, BMI can be mistakenly placed in a high risk
        group for malnutrition.
        This is because the BMI only takes into account body weight and growth without worrying about muscle or fat tissue,
        genetic conditions, or race. <br/>
        Despite these obvious drawbacks, the BMI calculator is still being used by dieticians around the world for
        its simplicity and relative accuracy.
    </p>

    <div class="letter">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    @using (Html.BeginForm("BMI", "Calculators", FormMethod.Post, new {role = "form"}))
                    {
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Weight, new {@class = "col0md-2 control-label"})
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Weight, new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Height, new {@class = "col0md-2 control-label"})
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Height, new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                 @ViewBag.solution <br/>
                                    @ViewBag.correct
                                    
                                
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Calculate" class="btn btn-default"/>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>