@model eTrener.Models.PBFViewModel

@{
    ViewBag.Title = "Percentage Body Fat Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/Letter.css" rel="stylesheet" />
<div class="paper">
    <p class="paper">
        The YMCA calculator is a calculator for calculating body fat.

        Knowing the percentage of body fat is crucial during DietView planning.
        It is known then whether the DietView should be low or high fat. 
        The YMCA method is exceptionally effective in defining it because it is simple to assume, but the pattern is sophisticated
         enough and complicated to allow accuracy.
    </p>

    <div class="letter">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    @using (Html.BeginForm("PBF", "Calculators", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="box-body">
                            <div class="form-group">
                                @Html.Label("Waist circumference [cm]", new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Waist, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Weight [kg]", new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Sex, new { @class = "col-md-4 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.Sex,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Value = "Male", Text = "Male"},
                                            new SelectListItem {Value = "Female", Text = "Female"}
                                        },
                                        new
                                        {
                                            size = "1",
                                            style = "width: 140px"
                                        })
                                    @ViewBag.whr <br />
                                    @ViewBag.result
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <br />
                                    <input type="submit" value="Calculate" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

