@model eTrener.Models.BodyMeasurements
<link href="~/Content/styles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Add your measurements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="container2">
        <div id="container1">
            <div id="col1">
		
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                 
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TrainingTime, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TrainingTime, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Weight, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Weight, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Neck, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Neck, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Chest, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Chest, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Biceps, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Biceps, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Forearm, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Forearm, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Waist, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Waist, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Hip, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Hip, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Wrist, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Wrist, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Thigh, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Thigh, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Calf, new {@class = "col-md-2 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Calf, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <input type="submit" value="Create" class="btn btn-default"/>
                            </div>
                        </div>
            
                }

            </div>
            <div id="col2">
                <img src="~/Images/body_measurement.jpg" align="right" />

            </div>
        </div>
    </div>
    



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
