@using System.Web.Optimization
@using eTrener.Models
@model eTrener.Models.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Welcome to eTrener";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to eTrener</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Content/dist/css/admin-lte.css" rel="stylesheet" />
    <link href="~/Content/icheck/css/sqare/blue.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index", "Home")">Welcome to <b>eTrener!</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", type = "email", placeholder = "Email"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", type = "password", placeholder = "Password"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        }
                @Html.Partial("_ExternalLoginsPartialView", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
     

        <a href="#">I forgot my password</a><br>
        <a href="@Url.Action("Register", "Account")" class="text-center">Register as a new user</a>
    </div>
</div>
    <script src="~/Scripts/Login.js"></script>
    <script src="~/Content/icheck/js/icheck.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.8.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>