@model eTrener.Models.RegisterViewModel
@using System.Web.Optimization
@{

    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Content/dist/css/admin-lte.css" rel="stylesheet" />
    <link href="~/Content/icheck/css/sqare/blue.css" rel="stylesheet" />

</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="@Url.Action("Index", "Home")">Welcome to <b>eTrener!</b></a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Login, new {@class = "form-control",placeholder = "Login" })
                @Html.ValidationMessageFor(m => m.Login, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
          
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
            </div>
        }

    </div>
    <script src="~/Scripts/Register.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</div>

</body>
</html>