@model eTrener.Models.ProductModel

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddProduct", "Diet", FormMethod.Post, new {role = "form"}))
{
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.ProductId, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.ProductId, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Calories, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Calories, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Fat, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Fat, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.SaturatedFattyAcids, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.SaturatedFattyAcids, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Carbs, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Carbs, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Sugar, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Sugar, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Fiber, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Fiber, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Protein, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Protein, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Salt, new {@class = "col0md-2 control-label"})
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Salt, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default"/>
        </div>
    </div>
}