@{
    ViewBag.Title = "CreateDiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using eTrener.Infrastructure
@model eTrener.Models.CreateDietModel

<link href="~/Styles/diet.css" rel="stylesheet" type="text/css" />

<table class="table0 " id="diary-table">

    <colgroup>
        <col class="col-1">
        <col class="col-2">
        <col class="col-2">
        <col class="col-2">
        <col class="col-2">
        <col class="col-2">
        <col class="col-2">
        <col class="col-8">
    </colgroup>

    <tbody>


        <tr class="meal_header">

            <td class="first alt">Breakfast</td>
            <td class="alt nutrient-column">
                Calories
                <div class="subtitle">kcal</div>
            </td>
            <td class="alt nutrient-column">
                Carbs
                <div class="subtitle">g</div>
            </td>
            <td class="alt nutrient-column">
                Fat
                <div class="subtitle">g</div>
            </td>
            <td class="alt nutrient-column">
                Protein
                <div class="subtitle">g</div>
            </td>
            <td class="alt nutrient-column">
                Sodium
                <div class="subtitle">mg</div>
            </td>
            <td class="alt nutrient-column">
                Sugar
                <div class="subtitle">g</div>
            </td>
        </tr>


        <tr class="bottom">


            @foreach (var position in Model.IngredientModels)
            {
                <tr class="first alt">
               
                    <td>@position.Model.Name</td>
                    <td>@position.Model.Calories</td>
                    <td>@position.Model.Fat</td>
                    <td>@position.Model.Carbs</td>
                    <td>@position.Model.Protein</td>
                    <td><a class="ion-android-delete" data-id="@position.Model.ProductId" href="#">Delete</a></td>
                </tr>
            }
        <td class="first alt" style="z-index: 10">

            <a href="/food/add_to_diary?meal=0" class="add_food">Add Food</a>
        </td>
    </tr>


    <tr class="meal_header">

        <td class="first alt">Lunch</td>
        <td class="alt nutrient-column">
            Calories
            <div class="subtitle">kcal</div>
        </td>
        <td class="alt nutrient-column">
            Carbs
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Fat
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Protein
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Sodium
            <div class="subtitle">mg</div>
        </td>
        <td class="alt nutrient-column">
            Sugar
            <div class="subtitle">g</div>
        </td>
    </tr>


    <tr class="bottom">

        <td class="first alt" style="z-index: 9">
            <a href="/food/add_to_diary?meal=1" class="add_food">Add Food</a>
        </td>


        <td>&nbsp;</td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>&nbsp;</td>


        <td>&nbsp;</td>


        <td></td>

    </tr>


    <tr class="meal_header">

        <td class="first alt">Dinner</td>
        <td class="alt nutrient-column">
            Calories
            <div class="subtitle">kcal</div>
        </td>
        <td class="alt nutrient-column">
            Carbs
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Fat
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Protein
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Sodium
            <div class="subtitle">mg</div>
        </td>
        <td class="alt nutrient-column">
            Sugar
            <div class="subtitle">g</div>
        </td>
    </tr>


    <tr class="bottom">

        <td class="first alt" style="z-index: 8">

            <a href="/food/add_to_diary?meal=2" class="add_food">Add Food</a>


        </td>


        <td>&nbsp;</td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>&nbsp;</td>


        <td>&nbsp;</td>


        <td></td>

    </tr>


    <tr class="meal_header">

        <td class="first alt">Snacks</td>
        <td class="alt nutrient-column">
            Calories
            <div class="subtitle">kcal</div>
        </td>
        <td class="alt nutrient-column">
            Carbs
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Fat
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Protein
            <div class="subtitle">g</div>
        </td>
        <td class="alt nutrient-column">
            Sodium
            <div class="subtitle">mg</div>
        </td>
        <td class="alt nutrient-column">
            Sugar
            <div class="subtitle">g</div>
        </td>
    </tr>


    <tr class="bottom">

        <td class="first alt" style="z-index: 7">

            <a href="/food/add_to_diary?meal=3" class="add_food">Add Food</a>

        </td>


        <td>&nbsp;</td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>
            <span class="macro-value">&nbsp;</span>
            <span class="macro-percentage">
                &nbsp;
            </span>
        </td>


        <td>&nbsp;</td>


        <td>&nbsp;</td>


        <td></td>

    </tr>


    <tr class="spacer">
        <td class="first" colspan="6">&nbsp;</td>
        <td class="empty">&nbsp;</td>
    </tr>

    <tr class="total">

        <td class="first">Totals</td>


        <td>0</td>

        <td>
            <span class="macro-value">0</span>
            <span class="macro-percentage">
                -
            </span>
        </td>

        <td>
            <span class="macro-value">0</span>
            <span class="macro-percentage">
                -
            </span>
        </td>

        <td>
            <span class="macro-value">0</span>
            <span class="macro-percentage">
                -
            </span>
        </td>

        <td>0</td>

        <td>0</td>

        <td class="empty"></td>

    </tr>

    <tr class="total alt">

        <td class="first">Your Daily Goal </td>


        <td>2,770</td>
        <td>
            <span class="macro-value">346</span>
            <span class="macro-percentage">
                50
            </span>
        </td>
        <td>
            <span class="macro-value">92</span>
            <span class="macro-percentage">
                30
            </span>
        </td>
        <td>
            <span class="macro-value">139</span>
            <span class="macro-percentage">
                20
            </span>
        </td>
        <td>2,300</td>
        <td>104</td>
        <td class="empty"></td>

    </tr>

    <tr class="total remaining">

        <td class="first">Remaining</td>


        <td class="positive">2,770</td>
        <td class="positive">
            <span class="macro-value">346</span>
            <span class="macro-percentage ">
                50
            </span>
        </td>
        <td class="positive">
            <span class="macro-value">92</span>
            <span class="macro-percentage ">
                30
            </span>
        </td>
        <td class="positive">
            <span class="macro-value">139</span>
            <span class="macro-percentage ">
                20
            </span>
        </td>
        <td class="positive">2,300</td>
        <td class="positive">104</td>
        <td class="empty"></td>

    </tr>

    </tbody>



    <tfoot>

        <tr>

            <td class="first"></td>
            <td class="alt nutrient-column">
                Calories
                <div class="subtitle">kcal</div>
            </td>
            <td class="alt nutrient-column">
                Carbs
                <div class="subtitle">g</div>
            </td>
            <td class="alt nutrient-column">
                Fat
                <div class="subtitle">g</div>
            </td>
            <td class="alt nutrient-column">
                Protein
                <div class="subtitle">g</div>
            </td>
            <td class="alt nutrient-column">
                Sodium
                <div class="subtitle">mg</div>
            </td>
            <td class="alt nutrient-column">
                Sugar
                <div class="subtitle">g</div>
            </td>
            <td class="empty"></td>

        </tr>


    </tfoot>


</table>