@using System.Web.Optimization
@model eTrener.Models.TrainingExcercise

@{
    ViewBag.Title = "AddExcercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<<<<<<< HEAD

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TrainingExcercise</h4>
        <hr/>   
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.TrainingTime, htmlAttributes: new
            {
                @class = "control-label col-md-2",
            })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.TrainingTime, new { @class = "form-control", type = "abc", placeholder = "YYYY/MM/DD" })
                @Html.ValidationMessageFor(model => model.TrainingTime, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExcerciseName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ExcerciseName, Model.ExcerciseNames,"Select Excercise");
                @Html.ValidationMessageFor(model => model.ExcerciseName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeriesNumber, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeriesNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SeriesNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Repetition, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Repetition, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Repetition, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Weight, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
                @ViewBag.Error
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
