@using System.Web.Optimization
@model eTrener.Models.TrainingExcercise

@{
    ViewBag.Title = "Add excercise to database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddExcercise", "Log", FormMethod.Post, new { role = "form" }))
{
    <link href="~/Content/buttons.css" rel="stylesheet" />

    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.ExcerciseName, new {@class = "col-md-2 control-label"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ExcerciseName, Model.ExcerciseNames,"Select Excercise")
                </div>
            </div>
        </div>

        <div class="box-body">
             <div class="form-group">
            @Html.LabelFor(m => m.TrainingTime, new {@class = "col-md-2 control-label"})
            <div class="col-md-8">
                @Html.EditorFor(model => model.TrainingTime, new { htmlAttributes = new { @class = "form-control" } })
            </div>
             </div>
        </div>

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.SeriesNumber, new {@class = "col-md-2 control-label"})
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.SeriesNumber, new {@class = "form-control"})
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Repetition, new {@class = "col-md-2 control-label"})
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Repetition, new {@class = "form-control"})
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Weight, new {@class = "col-md-2 control-label"})
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Weight, new {@class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <button type="submit" value="Add" class="button save"> Add</button>
                @ViewBag.Error
            </div>
        </div>

} 


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
