@using System.Data.Entity
@model IEnumerable<eTrener.Models.TrainingExcercise>

@{
    ViewBag.Title = "ShowLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Table/component.css" rel="stylesheet"/>
<link href="~/Content/Table/demo.css" rel="stylesheet"/>
<link href="~/Content/Table/normalize.css" rel="stylesheet"/>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Training date</th>
            <th>Excercise name</th>
            <th>Series number</th>
            <th>Repetition</th>
            <th>Weight</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var position in Model)
        {
            <tr>      
                <td>@position.TrainingTime</td>
                <td>@position.ExcerciseName</td>
                <td>@position.SeriesNumber</td>
                <td>@position.Repetition</td>
                <td>@position.Weight</td>
                <td><a class="ion-android-delete"></a>@Html.ActionLink("Delete","DeleteLog","Log",new{id= @position.TrainingElementId },null)</td>
                
            </tr>
        }
        </tbody>
    </table>
    <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

      
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="~/Scripts/jquery.stickyheader.js"></script>