@model eTrener.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Set your new password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { role = "form" }))
{
    <link href="~/Content/buttons.css" rel="stylesheet" />

    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 

    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-2">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-2">
                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-2">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" value="Add" class="button save"> Save</button>
        </div>
    </div>

} 


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
