@using System.Web.Optimization
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>eTrener</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/DashboardStyles/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardStyles/plugins/ionicons/css/ionicons.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardStyles/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardStyles/dist/css/admin-lte.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardStyles/dist/css/skins/_all-skins.css" rel="stylesheet" type="text/css"/>


</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header class="main-header">

<nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            
            @Html.Partial("_LoginPartial")
          
        </ul>   
    </div>
</nav>
</header>
<aside class="main-sidebar">
<section class="sidebar">
<div class="user-panel">
    <div class="pull-left image">
        <img src="~/Images/account.jpeg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
                                <p>@User.Identity.GetUserName()</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>

<ul class="sidebar-menu">
<li class="header">MAIN NAVIGATION</li>
<li id="left-sidebar-menu-dashboard" class="treeview">
    <a href="@Url.Action("Dashboard", "Account")">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
 
</li>

<li id="left-sidebar-menu-charts" class="treeview">
    <a href="#">
        <i class="fa fa-calculator"></i>
        <span>Calculators</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li id="left-sidebar-menu-charts-BMI">
            <a href="@Url.Action("BMI", "Calculators")"><i class="fa fa-heartbeat"></i> BMI Calculator</a>
        </li>
        <li id="left-sidebar-menu-charts-WHR">
            <a href="@Url.Action("WHR", "Calculators")"><i class="fa fa-heartbeat"></i> WHR  Calculator</a>
        </li>
        <li id="left-sidebar-menu-charts-SBW">
            <a href="@Url.Action("SBW", "Calculators")"><i class="fa fa-heartbeat"></i> Should Body Weight</a>
        </li>
        <li id="left-sidebar-menu-charts-BM">
            <a href="@Url.Action("BM", "Calculators")"><i class="fa fa-heartbeat"></i> Basic Metabolism</a>
        </li>
        <li id="left-sidebar-menu-charts-PBF">
            <a href="@Url.Action("PBF", "Calculators")"><i class="fa fa-heartbeat"></i> Percentage Body Fat</a>
        </li>
    </ul>
</li>
<li id="left-sidebar-menu-elements" class="treeview">
    <a href="#">
        <i class="fa fa-cutlery"></i>
        <span>Diet</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li id="left-sidebar-menu-elements-general">
            <a href="@Url.Action("ProductList", "Diet")"><i class="fa fa-circle-o"></i> List of products</a>
        </li>
        <li id="left-sidebar-menu-elements-icons">
            <a href="@Url.Action("AddProduct", "Diet")"><i class="fa fa-circle-o"></i> Add a product</a>
        </li>
        <li id="left-sidebar-menu-elements-buttons">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i> Create diet</a>
        </li>
        <li id="left-sidebar-menu-elements-sliders">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i> Sample diet</a>
        </li>
       
    </ul>
</li>

</ul>
</section>
</aside>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>@ViewBag.SubTitle</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a>
            </li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>
    <section class="content">
        @RenderBody()
    </section>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.8.1
    </div>
    <strong>Copyrights | eTrener  | 2017 <a href="http://mateusz-szopa.pl">Mateusz Szopa</a>.</strong> All rights
    reserved.
</footer>
<aside class="control-sidebar control-sidebar-dark">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li>
            <a href="#control-sidebar-home-tab" data-toggle="tab">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a href="#control-sidebar-settings-tab" data-toggle="tab">
                <i class="fa fa-gears"></i>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                            <p>Will be 23 on April 24th</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-user bg-yellow"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                            <p>New phone +1(800)555-1234</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                            <p>nora@example.com</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-file-code-o bg-green"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                            <p>Execution time 5 seconds</p>
                        </div>
                    </a>
                </li>
            </ul>
            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Custom Template Design
                            <span class="label label-danger pull-right">70%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Update Resume
                            <span class="label label-success pull-right">95%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Laravel Integration
                            <span class="label label-warning pull-right">50%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Back End Framework
                            <span class="label label-primary pull-right">68%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                    <p>
                        Some information about this general settings option
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Allow mail redirect
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                    <p>
                        Other sets of options are available
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Expose author name in posts
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                    <p>
                        Allow the user to show his name in blog posts
                    </p>
                </div>
                <h3 class="control-sidebar-heading">Chat Settings</h3>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Show me as online
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Turn off notifications
                        <input type="checkbox" class="pull-right">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Delete chat history
                        <a href="javascript::;" class="text-red pull-right">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</aside>
<div class="control-sidebar-bg"></div>
</div>
<script src="~/DashboardStyles/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
<script src="~/DashboardStyles/bootstrap/js/bootstrap.js"></script>
<script src="~/DashboardStyles/plugins/slimscroll/js/jquery.slimscroll.js"></script>
<script src="~/DashboardStyles/plugins/fastclick/js/fastclick.js"></script>
<script src="~/Scripts/_Layout.js"></script>
<script src="~/DashboardStyles/dist/js/app.js"></script>


@RenderSection("menu", required: false)

@RenderSection("scripts", required: false)
</body>
</html>